@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgb(32, 188, 209);
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
    color: rgb(56, 55, 55);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    flex-grow: 1;
    font-size: 2em;
}

.logoprincipal {
    position: absolute;
    left: 20px;
    width: 40px;
}

header h1 {
    font-size: 100px;
}

.logoprincipal {
    width: 70px;
    height: 70px;
}

.redessociais {
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 20px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    position: relative;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 4px solid red;
    border-right: 2px solid red
}

main {
    padding: 10px 0;
    border-bottom: 4px solid red;
    border-right: 2px solid red
}

footer {
    text-align: center;
    padding-top: 20px;
    border-bottom: 4px solid red;
    border-right: 2px solid red;
    color: #777;
}

.menu-flutuante {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}